body{ 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 100vh;
}
.container{
    width: 400px;
    
     height: 400px; 

    background-color: hsl(138, 93%, 35%);
    display: flex;
    align-items: center;
    justify-content: center;
}
.cercle1 {
    background: rgb(97, 214, 156);    
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    
}
.cercle2 {
    background: hsl(134, 43%, 79%);    
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.cercle3 {
    background: hsl(144, 16%, 87%);    
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.cercle4{
    background: hsl(140, 56%, 71%);    
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
} 
