body{
    width: 50%;
    display: flex;
    flex-wrap: wrap;

}

.carre1 {
    border: 3px solid;
    background: hsl(0, 50%, 58%);    
    width: 300px;
    height: 300px;
    position: relative;
    }
.cercle1 {
    background-color: red;
    width: 180px;
    height: 180px;
    border-radius: 80%;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.5;

    }
.cercle2 {
    background-color: red;
    width: 180px;
    height: 180px;
    border-radius: 80%;
    position: absolute;
    bottom: 0;
    right: 0;
    opacity: 0.5;
    
}
.cercle3 {
    background-color: red;
    width: 180px;
    height: 180px;
    border-radius: 80%;
    position: absolute;
    opacity: 0.5;
    
    
}
.cercle4 {
    background-color: red;
    width: 180px;
    height: 180px;
    border-radius: 80%;
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0.5;
    
}
.carre2{
    border: 3px solid;
    background: rgb(197, 42, 189);    
    width: 300px;
    height: 300px;
    position: relative;
    
}
.cercle5{
background-color: #e79898;
width: 180px;
height: 180px;
border-radius: 80%;
position: absolute;
top: 0;
right: 0;
left: 60px;
opacity: 0.5;
}
.cercle6{
    background-color: #e79898;
    width: 200px;
    height: 200px;
    border-radius: 80%;
    position: absolute;
    bottom: 0;
    right: 0;
    opacity: 0.5;
    }
.cercle7{
    background-color: #e79898;
    width: 200px;
    height: 200px;
    border-radius: 80%;
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0.5;
    }
.carre3{
    border: 3px solid;
    background: hsl(273, 65%, 47%);    
    width: 300px;
    height: 300px;
    position: relative;
}
.cercle8{
    background-color: red;
    width: 200px;
    height: 200px;
    border-radius: 80%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.3;
}
.cercle9{
background-color: red;
width: 180px;
height: 180px;
border-radius: 80%;
position: absolute;
bottom: 0;
right: 0;
opacity: 0.3;
}
.carre4 {
border: 3px solid;
background: rgb(207, 80, 97);    
width: 300px;
height: 300px;
position: relative;
display: flex;
justify-content: center;
align-items: center;
}
.cercle10{
background-color: hwb(217 92% 5%);
width: 180px;
height: 180px;
border-radius: 80%;



}